:root {
  /** custom colors **/
  --ion-color-primary: #FF5733;
  --ion-color-primary-rgb: 255, 87, 51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #e54d2d;
  
  --ion-color-secondary: #2E7D32;
  --ion-color-secondary-rgb: 46, 125, 50;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #286e2c;
  
  --ion-background-color: #FFF3E0;
  --ion-background-color-rgb: 255, 243, 224;
  
  --ion-text-color: #333333;
  --ion-text-color-rgb: 51, 51, 51;
  
  --ion-border-color: #DDD;
}
