.angular
dist
node_modules
vsc-exp.md
Scrapers/Nueva carpeta/God/Resultados_Unimarc/RAW_JSON
Scrapers/Nueva carpeta/God/Resultados_Unimarc/HTML
Scrapers/Nueva carpeta/God/Resultados_Unimarc/Precios
Scrapers/Nueva carpeta/God/Resultados_Unimarc/Nutricional
Scrapers/Nueva carpeta/God/Resultados_Unimarc/JSON
Scrapers/Nueva carpeta/God/Resultados_Unimarc/Listados
Scrapers/Nueva carpeta/Resultados_Unimarc/
