.custom-toolbar {
    background: #8e44ad; 
    color: white;
  }

.middle-container {
    flex: 1;
    height: 100%;
  }

.listas-button-container {
    margin-top: 16px;
    margin-bottom: 16px;
}
  
.listas-button {
    font-size: 16px;
    --border-radius: 12px;
 }

.bottom-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
  
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
  
.flat-button {
    --border-radius: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: var(--ion-color-primary); /* Cambia si quieres otro color */
    color: white;
}

