.login-container,
.register-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  color: var(--ion-text-color);
  margin-top: 40px; 
}

.logo {
  display: block;
  width: 180px;
  height: auto;
  margin: 30px auto;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.login-button,
.register-button {
  margin-top: 30px;
  --background: var(--ion-color-primary);
  --background-hover: var(--ion-color-primary-shade);
}

.error-message {
  margin: 15px 0;
  display: block;
  text-align: center;
  color: var(--ion-color-danger);
}

.remember-me-item {
  margin-top: 15px;
}

.remember-me-label {
  margin-left: 10px;
  font-size: 0.9em;
  color: var(--ion-text-color);
}

.back-button-container {
  padding: 10px 0 0 10px;
}
