.no-lists-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
  text-align: center;
}

.empty-icon {
  font-size: 48px;
  margin-bottom: 16px;
  color: var(--ion-color-medium);
}

.list-meta {
  font-size: 0.8em;
  color: var(--ion-color-medium);
}

.shared-badge {
  background-color: var(--ion-color-primary-shade);
  color: var(--ion-text-color);
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 8px;
}

/* Estilos existentes */
.lists-header {
  padding: 16px;
  text-align: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.empty-state {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.date-text {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
}

/* Nuevos estilos para categorías y productos */
.segment-container {
  padding: 16px 16px 0;
}

.search-bar {
  padding: 0 16px;
}

.categories-container {
  padding: 16px;
}

.selected-category {
  --background: var(--ion-color-light-shade);
  border: 2px solid var(--ion-color-primary);
}

.category-title {
  padding: 0 16px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--ion-color-dark);
}

.products-container {
  padding: 0 0 16px;
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-image-container {
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.product-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-title {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--ion-color-primary);
}

.product-weight {
  color: var(--ion-color-medium);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.no-products {
  text-align: center;
  padding: 20px;
}
